# Tytuł Nootebooka

## Tytuł projektu

OPIS

Link do danych: ​web.stanford.edu/class/stats191/data/ames2000_NAfix.csv 
Dokładny opis danych: ​http://web.stanford.edu/class/stats191/data/amesdoc.txt

Przydatne linki:
https://pandas.pydata.org/pandas-docs/stable/index.html

https://towardsdatascience.com/exploratory-data-analysis-eda-python-87178e35b14

### 1 - data analysis

In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [18]:
# path to URL from Chrome DevTools Console
url = "http://web.stanford.edu/class/stats191/data/ames2000_NAfix.csv"

#importing data
data = pd.read_csv(url)

data.head(7)

,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,Lot.Shape,Land.Contour,Utilities,Lot.Config,...,Pool.Area,Pool.QC,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition,SalePrice
0,120,RL,34,3901,Pave,None,Reg,Lvl,AllPub,Inside,...,0,None,None,None,0,8,2007,New,Partial,204000
1,20,RL,70,8400,Pave,None,Reg,Lvl,AllPub,Corner,...,0,None,MnPrv,None,0,4,2010,WD,Normal,126000
2,85,RL,60,7200,Pave,None,Reg,Lvl,AllPub,Inside,...,0,None,MnPrv,None,0,4,2009,WD,Normal,133900
3,90,RL,64,7018,Pave,None,Reg,Bnk,AllPub,Inside,...,0,None,None,None,0,6,2009,WD,Alloca,118858
4,60,RL,111,16259,Pave,None,Reg,Lvl,AllPub,Corner,...,0,None,None,None,0,9,2006,New,Partial,342643
5,20,RL,50,4280,Pave,None,IR1,Lvl,AllPub,Inside,...,0,None,None,None,0,9,2009,WD,Normal,88750
6,20,RL,155,20064,Pave,None,IR1,Low,AllPub,Inside,...,0,None,None,None,0,5,2007,WD,Normal,279000

In [19]:
data.tail(7)

,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,Lot.Shape,Land.Contour,Utilities,Lot.Config,...,Pool.Area,Pool.QC,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition,SalePrice
1993,20,RL,65,14753,Pave,None,IR2,Low,AllPub,Inside,...,0,None,GdPrv,None,0,12,2009,WD,Normal,207000
1994,20,RL,87,10367,Pave,None,IR1,Lvl,AllPub,Inside,...,0,None,None,None,0,6,2009,ConLI,Normal,335000
1995,80,RL,80,8000,Pave,None,Reg,Lvl,AllPub,Inside,...,0,None,GdWo,None,0,7,2009,WD,Normal,138000
1996,180,RM,35,3675,Pave,None,Reg,Lvl,AllPub,Inside,...,0,None,None,None,0,6,2008,WD,Normal,148000
1997,60,RL,76,10142,Pave,None,IR1,Lvl,AllPub,Inside,...,0,None,None,None,0,1,2010,WD,Normal,233000
1998,85,RL,None,7252,Pave,None,IR1,Lvl,AllPub,CulDSac,...,0,None,None,None,0,4,2009,WD,Normal,134900
1999,160,FV,34,2998,Pave,None,Reg,Lvl,AllPub,Inside,...,0,None,None,None,0,8,2009,WD,Normal,180000

In [12]:
data.shape
#2000 wierszy oraz 80 kolumn

(2000, 80)

In [15]:
data.describe(include='all')

,MS.SubClass,MS.Zoning,Lot.Frontage,Lot.Area,Street,Alley,Lot.Shape,Land.Contour,Utilities,Lot.Config,...,Pool.Area,Pool.QC,Fence,Misc.Feature,Misc.Val,Mo.Sold,Yr.Sold,Sale.Type,Sale.Condition,SalePrice
count,2000.000000,2000,2000,2000.000000,2000,2000,2000,2000,2000,2000,...,2000.000000,2000,2000,2000,2000.00000,2000.000000,2000.000000,2000,2000,2000.000000
unique,NaN,7,121,NaN,2,3,4,4,1,5,...,NaN,5,5,5,NaN,NaN,NaN,10,6,NaN
top,NaN,RL,None,NaN,Pave,None,Reg,Lvl,AllPub,Inside,...,NaN,None,None,None,NaN,NaN,NaN,WD,Normal,NaN
freq,NaN,1549,334,NaN,1992,1865,1275,1809,2000,1452,...,NaN,1989,1605,1926,NaN,NaN,NaN,1738,1640,NaN
mean,56.945000,NaN,NaN,10296.665000,NaN,NaN,NaN,NaN,NaN,NaN,...,2.934000,NaN,NaN,NaN,42.51300,6.217500,2007.799500,NaN,NaN,180240.902000
std,42.699281,NaN,NaN,8828.208491,NaN,NaN,NaN,NaN,NaN,NaN,...,41.080828,NaN,NaN,NaN,440.83108,2.726336,1.316118,NaN,NaN,78461.927874
min,20.000000,NaN,NaN,1300.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.00000,1.000000,2006.000000,NaN,NaN,12789.000000
25%,20.000000,NaN,NaN,7500.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.00000,4.000000,2007.000000,NaN,NaN,129000.000000
50%,50.000000,NaN,NaN,9465.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.00000,6.000000,2008.000000,NaN,NaN,160000.000000
75%,70.000000,NaN,NaN,11500.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.00000,8.000000,2009.000000,NaN,NaN,213492.500000
max,190.000000,NaN,NaN,215245.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,800.000000,NaN,NaN,NaN,15500.00000,12.000000,2010.000000,NaN,NaN,755000.000000

In [16]:
data.isnull().sum()

MS.SubClass       0
MS.Zoning         0
Lot.Frontage      0
Lot.Area          0
Street            0
                 ..
Mo.Sold           0
Yr.Sold           0
Sale.Type         0
Sale.Condition    0
SalePrice         0
Length: 80, dtype: int64